/*delayClass*/
.delay0{-webkit-animation-delay: 0s;-moz-animation-delay: 0s;-ms-animation-delay: 0s;animation-delay: 0s;}
.delay1{-webkit-animation-delay: 0.1s;-moz-animation-delay: 0.1s;-ms-animation-delay: 0.1s;animation-delay: 0.1s;}
.delay2{-webkit-animation-delay: 0.2s;-moz-animation-delay: 0.2s;-ms-animation-delay: 0.2s;animation-delay: 0.2s;}
.delay3{-webkit-animation-delay: 0.3s;-moz-animation-delay: 0.3s;-ms-animation-delay: 0.3s;animation-delay: 0.3s;}
.delay4{-webkit-animation-delay: 0.4s;-moz-animation-delay: 0.4s;-ms-animation-delay: 0.4s;animation-delay: 0.4s;}
.delay5{-webkit-animation-delay: 0.5s;-moz-animation-delay: 0.5s;-ms-animation-delay: 0.5s;animation-delay: 0.5s;}
.delay6{-webkit-animation-delay: 0.6s;-moz-animation-delay: 0.6s;-ms-animation-delay: 0.6s;animation-delay: 0.6s;}
.delay7{-webkit-animation-delay: 0.7s;-moz-animation-delay: 0.7s;-ms-animation-delay: 0.7s;animation-delay: 0.7s;}
.delay8{-webkit-animation-delay: 0.8s;-moz-animation-delay: 0.8s;-ms-animation-delay: 0.8s;animation-delay: 0.8s;}
.delay9{-webkit-animation-delay: 0.9s;-moz-animation-delay: 0.9s;-ms-animation-delay: 0.9s;animation-delay: 0.9s;}
.delay10{-webkit-animation-delay: 1s;-moz-animation-delay: 1s;-ms-animation-delay: 1s;animation-delay: 1s;}
.delay11{-webkit-animation-delay: 1.1s;-moz-animation-delay: 1.1s;-ms-animation-delay: 1.1s;animation-delay: 1.1s;}
.delay12{-webkit-animation-delay: 1.2s;-moz-animation-delay: 1.2s;-ms-animation-delay: 1.2s;animation-delay: 1.2s;}
.delay13{-webkit-animation-delay: 1.3s;-moz-animation-delay: 1.3s;-ms-animation-delay: 1.3s;animation-delay: 1.3s;}
.delay14{-webkit-animation-delay: 1.4s;-moz-animation-delay: 1.4s;-ms-animation-delay: 1.4s;animation-delay: 1.4s;}
.delay15{-webkit-animation-delay: 1.5s;-moz-animation-delay: 1.5s;-ms-animation-delay: 1.5s;animation-delay: 1.5s;}
.delay16{-webkit-animation-delay: 1.6s;-moz-animation-delay: 1.6s;-ms-animation-delay: 1.6s;animation-delay: 1.6s;}
.delay17{-webkit-animation-delay: 1.7s;-moz-animation-delay: 1.7s;-ms-animation-delay: 1.7s;animation-delay: 1.7s;}
.delay18{-webkit-animation-delay: 1.8s;-moz-animation-delay: 1.8s;-ms-animation-delay: 1.8s;animation-delay: 1.8s;}
.delay19{-webkit-animation-delay: 1.9s;-moz-animation-delay: 1.9s;-ms-animation-delay: 1.9s;animation-delay: 1.9s;}
.delay20{-webkit-animation-delay: 2s;-moz-animation-delay: 2s;-ms-animation-delay: 2s;animation-delay: 2s;}
.delay21{-webkit-animation-delay: 2.1s;-moz-animation-delay: 2.1s;-ms-animation-delay: 2.1s;animation-delay: 2.1s;}
.delay22{-webkit-animation-delay: 2.2s;-moz-animation-delay: 2.2s;-ms-animation-delay: 2.2s;animation-delay: 2.2s;}
.delay23{-webkit-animation-delay: 2.3s;-moz-animation-delay: 2.3s;-ms-animation-delay: 2.3s;animation-delay: 2.3s;}
.delay24{-webkit-animation-delay: 2.4s;-moz-animation-delay: 2.4s;-ms-animation-delay: 2.4s;animation-delay: 2.4s;}
.delay25{-webkit-animation-delay: 2.5s;-moz-animation-delay: 2.5s;-ms-animation-delay: 2.5s;animation-delay: 2.5s;}
.delay26{-webkit-animation-delay: 2.6s;-moz-animation-delay: 2.6s;-ms-animation-delay: 2.6s;animation-delay: 2.6s;}
.delay27{-webkit-animation-delay: 2.7s;-moz-animation-delay: 2.7s;-ms-animation-delay: 2.7s;animation-delay: 2.7s;}
.delay28{-webkit-animation-delay: 2.8s;-moz-animation-delay: 2.8s;-ms-animation-delay: 2.8s;animation-delay: 2.8s;}
.delay29{-webkit-animation-delay: 2.9s;-moz-animation-delay: 2.9s;-ms-animation-delay: 2.9s;animation-delay: 2.9s;}
.delay30{-webkit-animation-delay: 3s;-moz-animation-delay: 3s;-ms-animation-delay: 3s;animation-delay: 3s;}
.delay31{-webkit-animation-delay: 3.1s;-moz-animation-delay: 3.1s;-ms-animation-delay: 3.1s;animation-delay: 3.1s;}
.delay32{-webkit-animation-delay: 3.2s;-moz-animation-delay: 3.2s;-ms-animation-delay: 3.2s;animation-delay: 3.2s;}
.delay33{-webkit-animation-delay: 3.3s;-moz-animation-delay: 3.3s;-ms-animation-delay: 3.3s;animation-delay: 3.3s;}
.delay34{-webkit-animation-delay: 3.4s;-moz-animation-delay: 3.4s;-ms-animation-delay: 3.4s;animation-delay: 3.4s;}
.delay35{-webkit-animation-delay: 3.5s;-moz-animation-delay: 3.5s;-ms-animation-delay: 3.5s;animation-delay: 3.5s;}
.delay36{-webkit-animation-delay: 3.6s;-moz-animation-delay: 3.6s;-ms-animation-delay: 3.6s;animation-delay: 3.6s;}
.delay37{-webkit-animation-delay: 3.7s;-moz-animation-delay: 3.7s;-ms-animation-delay: 3.7s;animation-delay: 3.7s;}
.delay38{-webkit-animation-delay: 3.8s;-moz-animation-delay: 3.8s;-ms-animation-delay: 3.8s;animation-delay: 3.8s;}
.delay39{-webkit-animation-delay: 3.9s;-moz-animation-delay: 3.9s;-ms-animation-delay: 3.9s;animation-delay: 3.9s;}
.delay40{-webkit-animation-delay: 4s;-moz-animation-delay: 4s;-ms-animation-delay: 4s;animation-delay: 4s;}
.delay41{-webkit-animation-delay: 4.1s;-moz-animation-delay: 4.1s;-ms-animation-delay: 4.1s;animation-delay: 4.1s;}
.delay42{-webkit-animation-delay: 4.2s;-moz-animation-delay: 4.2s;-ms-animation-delay: 4.2s;animation-delay: 4.2s;}
.delay43{-webkit-animation-delay: 4.3s;-moz-animation-delay: 4.3s;-ms-animation-delay: 4.3s;animation-delay: 4.3s;}
.delay44{-webkit-animation-delay: 4.4s;-moz-animation-delay: 4.4s;-ms-animation-delay: 4.4s;animation-delay: 4.4s;}
.delay45{-webkit-animation-delay: 4.5s;-moz-animation-delay: 4.5s;-ms-animation-delay: 4.5s;animation-delay: 4.5s;}
.delay46{-webkit-animation-delay: 4.6s;-moz-animation-delay: 4.6s;-ms-animation-delay: 4.6s;animation-delay: 4.6s;}
.delay47{-webkit-animation-delay: 4.7s;-moz-animation-delay: 4.7s;-ms-animation-delay: 4.7s;animation-delay: 4.7s;}
.delay48{-webkit-animation-delay: 4.8s;-moz-animation-delay: 4.8s;-ms-animation-delay: 4.8s;animation-delay: 4.8s;}
.delay49{-webkit-animation-delay: 4.9s;-moz-animation-delay: 4.9s;-ms-animation-delay: 4.9s;animation-delay: 4.9s;}
.delay50{-webkit-animation-delay: 5s;-moz-animation-delay: 5s;-ms-animation-delay: 5s;animation-delay: 5s;}
.delay51{-webkit-animation-delay: 5.1s;-moz-animation-delay: 5.1s;-ms-animation-delay: 5.1s;animation-delay: 5.1s;}
.delay52{-webkit-animation-delay: 5.2s;-moz-animation-delay: 5.2s;-ms-animation-delay: 5.2s;animation-delay: 5.2s;}
.delay53{-webkit-animation-delay: 5.3s;-moz-animation-delay: 5.3s;-ms-animation-delay: 5.3s;animation-delay: 5.3s;}
.delay54{-webkit-animation-delay: 5.4s;-moz-animation-delay: 5.4s;-ms-animation-delay: 5.4s;animation-delay: 5.4s;}
.delay55{-webkit-animation-delay: 5.5s;-moz-animation-delay: 5.5s;-ms-animation-delay: 5.5s;animation-delay: 5.5s;}
.delay56{-webkit-animation-delay: 5.6s;-moz-animation-delay: 5.6s;-ms-animation-delay: 5.6s;animation-delay: 5.6s;}
.delay57{-webkit-animation-delay: 5.7s;-moz-animation-delay: 5.7s;-ms-animation-delay: 5.7s;animation-delay: 5.7s;}
.delay58{-webkit-animation-delay: 5.8s;-moz-animation-delay: 5.8s;-ms-animation-delay: 5.8s;animation-delay: 5.8s;}
.delay59{-webkit-animation-delay: 5.9s;-moz-animation-delay: 5.9s;-ms-animation-delay: 5.9s;animation-delay: 5.9s;}
.delay60{-webkit-animation-delay: 6s;-moz-animation-delay: 6s;-ms-animation-delay: 6s;animation-delay: 6s;}
.delay61{-webkit-animation-delay: 6.1s;-moz-animation-delay: 6.1s;-ms-animation-delay: 6.1s;animation-delay: 6.1s;}
.delay62{-webkit-animation-delay: 6.2s;-moz-animation-delay: 6.2s;-ms-animation-delay: 6.2s;animation-delay: 6.2s;}
.delay63{-webkit-animation-delay: 6.3s;-moz-animation-delay: 6.3s;-ms-animation-delay: 6.3s;animation-delay: 6.3s;}
.delay64{-webkit-animation-delay: 6.4s;-moz-animation-delay: 6.4s;-ms-animation-delay: 6.4s;animation-delay: 6.4s;}
.delay65{-webkit-animation-delay: 6.5s;-moz-animation-delay: 6.5s;-ms-animation-delay: 6.5s;animation-delay: 6.5s;}
.delay66{-webkit-animation-delay: 6.6s;-moz-animation-delay: 6.6s;-ms-animation-delay: 6.6s;animation-delay: 6.6s;}
.delay67{-webkit-animation-delay: 6.7s;-moz-animation-delay: 6.7s;-ms-animation-delay: 6.7s;animation-delay: 6.7s;}
.delay68{-webkit-animation-delay: 6.8s;-moz-animation-delay: 6.8s;-ms-animation-delay: 6.8s;animation-delay: 6.8s;}
.delay69{-webkit-animation-delay: 6.9s;-moz-animation-delay: 6.9s;-ms-animation-delay: 6.9s;animation-delay: 6.9s;}
.delay70{-webkit-animation-delay: 7s;-moz-animation-delay: 7s;-ms-animation-delay: 7s;animation-delay: 7s;}
.delay71{-webkit-animation-delay: 7.1s;-moz-animation-delay: 7.1s;-ms-animation-delay: 7.1s;animation-delay: 7.1s;}
.delay72{-webkit-animation-delay: 7.2s;-moz-animation-delay: 7.2s;-ms-animation-delay: 7.2s;animation-delay: 7.2s;}
.delay73{-webkit-animation-delay: 7.3s;-moz-animation-delay: 7.3s;-ms-animation-delay: 7.3s;animation-delay: 7.3s;}
.delay74{-webkit-animation-delay: 7.4s;-moz-animation-delay: 7.4s;-ms-animation-delay: 7.4s;animation-delay: 7.4s;}
.delay75{-webkit-animation-delay: 7.5s;-moz-animation-delay: 7.5s;-ms-animation-delay: 7.5s;animation-delay: 7.5s;}
.delay76{-webkit-animation-delay: 7.6s;-moz-animation-delay: 7.6s;-ms-animation-delay: 7.6s;animation-delay: 7.6s;}
.delay77{-webkit-animation-delay: 7.7s;-moz-animation-delay: 7.7s;-ms-animation-delay: 7.7s;animation-delay: 7.7s;}
.delay78{-webkit-animation-delay: 7.8s;-moz-animation-delay: 7.8s;-ms-animation-delay: 7.8s;animation-delay: 7.8s;}
.delay79{-webkit-animation-delay: 7.9s;-moz-animation-delay: 7.9s;-ms-animation-delay: 7.9s;animation-delay: 7.9s;}
.delay80{-webkit-animation-delay: 8s;-moz-animation-delay: 8s;-ms-animation-delay: 8s;animation-delay: 8s;}
.delay85{-webkit-animation-delay: 8.5s;-moz-animation-delay: 8.5s;-ms-animation-delay: 8.5s;animation-delay: 8.5s;}
.delay90{-webkit-animation-delay: 9s;-moz-animation-delay: 9s;-ms-animation-delay: 9s;animation-delay: 9s;}
.delay95{-webkit-animation-delay: 9.5s;-moz-animation-delay: 9.5s;-ms-animation-delay: 9.5s;animation-delay: 9.5s;}
.delay100{-webkit-animation-delay: 10s;-moz-animation-delay: 10s;-ms-animation-delay: 10s;animation-delay: 10s;}
